article {
    padding: 10px;
    background: #eeeeee;
}

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(24, 24, 24);
}

h1 {
    padding-right: 20px;
    font-family: 'VT323', monospace;
    font-size: 2.5em;
    color: white;
}

p {
    margin: 25px;
}

.rightContent {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #375D81;
}

.leftContent {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #183152;
}

.leftContent img {
    border: solid 2px white;
    border-radius: 5px;
}

.rightContent img {
    border: solid 2px white;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: #181818;

}

footer img {
    margin: 10px;
    border-radius: 180px;
    background: white;
}

.twitter{background:#71C9F8;}
.facebook{background:#3B5998;}
.github{background:#684F84;}


@media (max-width: 650px) {
    .leftContent {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}
@media (max-width: 650px) {
    .rightContent {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}
@media (max-width: 650px) {
    .leftContent a img,
    .rightContent a img {
        max-width: 100%;
    }
}
